# Ключ сгенерируется и подставится автоматически, см README.md п.2
SECRET_KEY=secret_key_here

# ------------------------------------------------------------
# ВЫБЕРИТЕ ОДИН ИЗ ДВУХ РЕЖИМОВ (раскомментируйте нужный, другой закомментируйте)
# ------------------------------------------------------------
# Режим 1: Запуск через Docker (продакшн) – ПО УМОЛЧАНИЮ
DEBUG=false
REDIS_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_ORDER_TOPIC=order-events

# Режим 2: Локальная разработка – раскомментируйте эти две строки, а две выше закомментируйте
#DEBUG=true
#REDIS_URL=redis://localhost:6379/0
#KAFKA_BOOTSTRAP_SERVERS=localhost:9092
#KAFKA_ORDER_TOPIC=order-events


# ------------------------------------------------------------
# Переменные ниже не трогать!
# ------------------------------------------------------------
# Заходите на localhost, 127.0.0.1
ALLOWED_HOSTS=127.0.0.1,localhost,megano.ru,www.megano.ru,app,nginx,app:8000

# Если true - в БД загрузятся демо-товары и пользователи
LOAD_DEMO_DATA=true

# БАЗЫ ДАННЫХ POSTGRESQL (только в продакшене, в разработке sqlite автоматически будет)
POSTGRES_DB=megano_prod
POSTGRES_USER=megano_user
POSTGRES_PASSWORD=postgresspass
POSTGRES_DB_HOST=db
POSTGRES_DB_PORT=5432